@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Nunito:wght@200;300;400&display=swap");

:root {
	--bg-color: #eff3f9;
	--white-color: #fff;
	--light-purple: #9db7fb;
	--light-blue: #60b9ff;
	--dark-blue: #283747;
	--light-gray: #eaecee;
	--btn-border-radius: 0.5em;
	--light-gray2: #d5d8dc;
	--red: #e74c3c;
	--light-green: #69fcb5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", "Lato";
	color: #283747;
}

body {
	min-height: 100vh;
}

@media (min-width: 1440px) {
	.assignment-question,
	.assignment-submission {
		padding: 3em;
		border-radius: var(--btn-border-radius);
		background-color: var(--white-color);
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
			rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	}
	.container {
		margin: 2em 5em;
		height: 100svh;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	body {
		font-family: Arial, sans-serif;
		text-align: center;
		background-color: var(--bg-color);
	}

	h1 {
		color: #333;
	}

	form {
		margin: 20px auto;
		padding: 20px;

		max-width: 400px;
		background-color: var(--white-color);
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
			rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	}

	label {
		font-weight: bold;
	}

	input[type="text"],
	input[type="file"] {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
	}

	button {
		background-color: #007bff;
		color: #fff;
		border: none;
		padding: 10px 20px;
		cursor: pointer;
	}

	#message {
		margin: 20px auto;
		max-width: 400px;
		color: green;
		font-weight: bold;
	}
}
