@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Nunito:wght@200;300;400&display=swap");

:root {
	--bg-color: #eff3f9;
	--white-color: #fff;
	--light-purple: #9db7fb;
	--light-blue: #60b9ff;
	--dark-blue: #283747;
	--light-gray: #eaecee;
	--btn-border-radius: 0.5em;
	--light-gray2: #d5d8dc;
	--red: #e74c3c;
	--light-green: #69fcb5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", "Lato";
	color: #283747;
}

body {
	min-height: 100vh;
	background-color: var(--bg-color);
}

@media (min-width: 1440px) {
	.container {
		margin-inline: 4em;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	nav {
		margin-inline: -4em;
		background-color: var(--white-color);
		display: flex;
		padding: 0.5em;
		justify-content: space-between;
	}
	nav button {
		margin-inline: 3em;
		border: none;
		padding: 0.6em;
		font-size: 1.1em;
		border-radius: var(--btn-border-radius);
	}
	.btn-function {
		display: flex;
	}
	/* course moudle group  */
	.course-module-group {
		display: flex;
		flex-direction: column;
		gap: 1em;

	}
	.course-module {
		border: 1px solid var(--light-gray2);
		background-color: var(--light-gray);
	}
	.module-title {
		display: flex;
		padding: 1em 1em;
		align-items: center;
	}
	.module-title span {
		position: absolute;
	}
	.module-title span:first-child {
		right: 6em;
	}
	.module-title span:last-child {
		right: 4em;
	}

	.module-outline {
		padding: 1em 2em;
		flex-direction: column;
		display: flex;
		gap: 2em;
		background-color: var(--white-color);
	}
	.expand-module {
		position: absolute;
		left: 0;
	}
	.module-outline a {
		background-color: var(--white-color);
	}
	.module-outline span {
		font-size: 1.4em;
	}

	.module-outline .material .delete-course-module-material {
		position: absolute;
		right: 4em;
	}

	/* all creation form */
	.module-creation-form {
		background-color: var(--white-color);
		max-width: 20em;
		padding: 1em;
		border-radius: var(--btn-border-radius);
	}
	.module-creation-form form {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}
	.module-creation-form form input {
		height: 2.67em;
		font-size: 1.1em;
	}
	.module-creation-form form input[type="submit"],
	.module-material-creation-form form input[type="submit"],
	.btn-group button {
		border: none;
		border-radius: var(--btn-border-radius);
		background-color: var(--light-blue);
		color: var(--white-color);
		width: 100%;
	}

	/* next one */

	.module-material-creation-form {
		max-width: 40em;
		padding: 1em;
		background-color: var(--white-color);
		border-radius: var(--btn-border-radius);
	}
	.module-material-creation-form form {
		display: flex;
		gap: 0.5em;
		flex-direction: column;
	}
	.module-material-creation-form form input {
		height: 2.67em;
		font-size: 1.1em;
	}

	.btn-group {
		display: flex;
		gap: 1em;
		align-items: center;
	}
	.btn-group button {
		font-size: 1.1em;
	}

	.add-course-module-material {
	}
	.add-task {
		border: 1px solid red;
		display: flex;
		flex-direction: column;
		gap: 0.8em;
		padding: 1em;
		position: absolute;

		z-index: 1;
		left: -2em;
		border-radius: 0.2em;
		background-color: var(--white-color);

		animation: dropDown 0.3s;
	}
	@keyframes dropDown {
		from {
			transform: scale(0);
		}
		to {
			transform: scale(1);
		}
	}
	.add-task p {
		display: flex;
		font-size: 0.8em;
	}
	.add-task p:hover {
		transform: scale(1.05);
		transition: transform 0.3s ease;
		background-color: var(--light-blue);
	}

	/* all forms */

	/* Style for the overlay */
	label {
		display: block;
		margin-bottom: 5px;
	}

	input[type="text"],
	textarea {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	select {
		width: 100%;
		height: 2.5em;
		font-size: 1.2em;
	}
	button {
		display: block;
		margin: 20px auto;
		padding: 10px 20px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	button:hover {
		background-color: #0056b3;
	}

	.assignment-wrapper,
	.quiz-wrapper,
	.main-quiz-wrapper {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-color);
		z-index: 1;
		transition: 0.3s ease;
	}

	/* Style for the content within the overlay */
	.overlay-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		transition: 0.3s ease;
	}

	/* Style for the close button */
	.close-button,
	.close-button-quiz,
	.close-button-main-quiz {
		position: absolute;
		top: 10px;
		right: 30px;
		cursor: pointer;
		font-size: 2em;
	}

	.assignment-wrapper nav {
		padding: 1em;
		display: flex;
		align-items: center;
		/* margin-inline: -5em; */
	}
	.assignment-wrapper nav h2,
	.main-quiz-wrapper nav h2 {
		left: 4em;
		position: relative;
	}

	.assignment-wrapper form,
	.main-quiz-wrapper form {
		display: grid;
		grid-template-columns: 1fr 0.5fr;

		grid-template-areas:
			"main1 sidebar"
			"main2 sidebar"
			"main3 sidebar";

		margin: 2em 8em;
		gap: 1em;
	}

	.assignment-wrapper form input {
		font-size: 1.2em;
	}

	.assignment-title {
		grid-area: main1;
	}
	.description {
		grid-area: main2;
	}
	.file-upload {
		grid-area: main3;
	}
	.assignment-side-bar {
		grid-area: sidebar;
		display: flex;
		flex-direction: column;
	}
	/* submit btn */
	.assignment-side-bar input:last-child,
	.quiz-wrapper form input[type="submit"] {
		margin-top: auto;
		background-color: var(--light-blue);
		border: none;
		border-radius: var(--btn-border-radius);
		padding: 0.5em 0em;
		color: var(--white-color);
		font-size: 1.2em;
	}
	.assignment-title,
	.description,
	.file-upload,
	.assignment-side-bar {
		padding: 2em;
		background-color: var(--white-color);
		border-radius: var(--btn-border-radius);
	}

	/* FOR QUIZ */
	.quiz-wrapper form {
		display: flex;
		flex-direction: column;

		background-color: var(--white-color);
		margin: 2em 8em;
		padding: 1em;
		border-radius: var(--btn-border-radius);
		justify-content: flex-start;
	}

	.quiz-wrapper form input {
		font-size: 1.2em;
	}

	.quiz-option-group {
		display: flex;
		align-items: center;
		gap: 1em;
	}
	
	

	/* helper css */
	.hidden {
		display: none;

		transition: 0.3s ease;
	}
}