@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Nunito:wght@200;300;400&display=swap");

:root {
	--bg-color: #eff3f9;
	--white-color: #fff;
	--light-purple: #9db7fb;
	--light-blue: #60b9ff;
	--dark-blue: #283747;
	--light-gray: #eaecee;
	--btn-border-radius: 0.5em;
	--light-gray2: #d5d8dc;
	--red: #e74c3c;
	--light-green: #69fcb5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", "Lato";
	color: #283747;
}

body {
	min-height: 100vh;
}

@media (min-width: 1440px) {
	.dashboard-info {
		margin: 2em 7em;
		display: flex;
		flex-direction: column;
		gap: 1.2em;
	}
	.dashboard-title {
		display: flex;
		gap: 1em;
		background-color: var(--white-color);
		padding: 1.2em;

		padding: 0.4em;
		background-color: var(--white-color);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

		transition: 0.3s ease;
	}
	.card-group {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1em;
	}
	.card-group > .card {
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 1em;
		align-items: center;
		text-align: center;
		background-color: var(--white-color);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	}

	/* btn-features */
	.btn-features {
		background-color: var(--white-color);
		padding: 2em 1em;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	}
	.btn-features button {
		font-size: 1.2em;
		border: none;
		padding: 0.5em;
		border-radius: var(--btn-border-radius);
		background-color: var(--light-green);
	}

	/* user creation form */
	.user-creation-form {
		display: flex;
		padding: 1em;
		align-items: center;
		background-color: var(--white-color);
		position: relative;
		left: 35%;
		width: 30%;
		height: 100%;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

		transition: 0.3s ease;
	}
	.user-creation-form form {
		display: flex;
		flex-direction: column;
		gap: 1em;
		width: 100%;

		font-size: 1.1em;
	}
	.user-creation-form form input,
	.user-creation-form form select {
		height: 2.2em;
		font-size: 1.1em;
	}
	.btn-confirm {
	}
	.btn-confirm input {
		width: 7em;
		border: none;
		padding: 0.4em 2em;
		border-radius: var(--btn-border-radius);

		align-items: center;
	}
	.btn-confirm input[type="submit"] {
		background-color: var(--light-green);
	}
	/* helper css */
	.hidden {
		display: none;
		transition: 0.3s ease;
		opacity: 0;
	}
}
