@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Nunito:wght@200;300;400&display=swap");

:root {
	--bg-color: #eff3f9;
	--white-color: #fff;
	--light-purple: #9db7fb;
	--light-blue: #60b9ff;
	--dark-blue: #283747;
	--light-gray: #eaecee;
	--btn-border-radius: 0.5em;
	--light-gray2: #d5d8dc;
	--red: #e74c3c;
	--light-green: #69fcb5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", "Lato";
	color: #283747;
}

body {
	min-height: 100vh;
}

/* helper css */
.active {
	background-color: var(--light-gray2);
}
.active::before {
	content: "";
	background-color: var(--dark-blue);
	position: absolute;
	width: 0.4em;
	height: 3em;
	display: flex;
	flex-direction: column;
}
.hidden {
	display: none;
	transition: 0.3 ease;
}
.cancel {
	background-color: var(--red);
}

@media (min-width: 1440px) {
	.wrapper {
		display: flex;
	}
	.side-bar {
		flex: 0.145;
	}
	main {
		margin: 2em;
		flex: 0.8;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.create-tasks {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 0.25fr 0.15fr;
		background-color: var(--white-color);
		border-radius: var(--btn-border-radius);
		box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	}
	button {
		font-size: 1.2em;
		padding: 0.7em;
		border-radius: var(--btn-border-radius);
		border: none;
		display: block;
	}
	/* .create-tasks button:nth-child(1) {
		background-color: var(--light-blue);
		color: var(--white-color);
	}
	.create-tasks button:nth-child(2) {
		background-color: var(--light-purple);
		color: var(--white-color);
	}
	.create-tasks button:nth-child(3) {
		background-color: var(--light-blue);
		color: var(--dark-blue);
	} */

	/* current -task */
	.current-tasks {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-top: 1.5em;
	}
	.current-tasks-group {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
		grid-template-rows: repeat(auto-fill, minmax(10em, 1fr));
		gap: 1em;
	}
	.task {
		padding: 1em;
		background-color: var(--white-color);
		border-radius: var(--btn-border-radius);
		transition: 0.3s ease;
	}
	/* .task span {
		color: var(--light-gray2);
	} */
	.task:hover {
		border: 1px solid var(--light-blue);
		transition: 0.3s ease;
		transform: scale(1.05);
	}
	/* quiz only from */

	.quiz-creation-container {
		width: 35em;
		margin: 0 auto;
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	}

	h1 {
		text-align: center;
	}

	.form-group {
		margin-bottom: 20px;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	input[type="text"],
	textarea {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	select {
		width: 100%;
		height: 2.5em;
		font-size: 1.2em;
	}
	button {
		display: block;
		margin: 20px auto;
		padding: 10px 20px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	button:hover {
		background-color: #0056b3;
	}

	/* all forms */

	/* Style for the overlay */

	.assignment-wrapper,
	.quiz-wrapper {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-color);
		z-index: 1;
		transition: 0.3s ease;
	}

	/* Style for the content within the overlay */
	.overlay-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		transition: 0.3s ease;
	}

	/* Style for the close button */
	.close-button,
	.close-button-quiz {
		position: absolute;
		top: 10px;
		right: 30px;
		cursor: pointer;
		font-size: 2em;
	}

	.assignment-wrapper nav {
		padding: 1em;
		display: block;
		align-items: center;
		/* margin-inline: -5em; */
	}

	.assignment-wrapper form {
		display: grid;
		grid-template-columns: 1fr 0.5fr;

		grid-template-areas:
			"main1 sidebar"
			"main2 sidebar"
			"main3 sidebar";

		margin: 2em 8em;
		gap: 1em;
	}

	.assignment-wrapper form input {
		font-size: 1.2em;
	}

	.assignment-title {
		grid-area: main1;
	}
	.description {
		grid-area: main2;
	}
	.file-upload {
		grid-area: main3;
	}
	.assignment-side-bar {
		grid-area: sidebar;
		display: flex;
		flex-direction: column;
	}
	/* submit btn */
	.assignment-side-bar input:last-child,
	.quiz-wrapper form input[type="submit"] {
		margin-top: auto;
		background-color: var(--light-blue);
		border: none;
		border-radius: var(--btn-border-radius);
		padding: 0.5em 0em;
		color: var(--white-color);
		font-size: 1.2em;
	}
	.assignment-title,
	.description,
	.file-upload,
	.assignment-side-bar {
		padding: 2em;
		background-color: var(--white-color);
		border-radius: var(--btn-border-radius);
	}

	/* FOR QUIZ */
	.quiz-wrapper form {
		display: flex;
		flex-direction: column;

		background-color: var(--white-color);
		margin: 2em 8em;
		padding: 1em;
		border-radius: var(--btn-border-radius);
		justify-content: flex-start;
	}

	.quiz-wrapper form input {
		font-size: 1.2em;
	}

	.quiz-option-group {
		display: flex;
		align-items: center;
		gap: 1em;
	}

	/* todo-list  */
	.todo-list {
		background-color: var(--white-color);
		border-radius: var(--btn-border-radius);
		padding: 1em;
	}
	.todo-assignment-group,
	.todo-quiz-group {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-top: 0.5em;
	}
	.todo-assignment-group h3,
	.todo-quiz-group h3 {
		padding-bottom: 0.2em;
		padding-top: 0.5em;
		border-bottom: 1px solid var(--light-blue);
	}

	.todo-assignment,
	.todo-quiz {
		display: flex;
		align-items: center;
		padding: 0.5em;
		gap: 2em;
		font-size: 1.2em;
		border-radius: var(--btn-border-radius);
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
			rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}

	.todo-assignment span,
	.todo-quiz span {
		padding-right: 1em;
		border-right: 1px solid var(--light-blue);
	}
}
